{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock %}

{% block appcontent %}
<div class="wrapper fadeInDown">
    <div id="formContent">
      <!-- Tabs Titles -->
  
      <!-- Icon -->
      <div class="fadeIn first">
        <img src="{{ url_for('static', filename='images/user-logo.png') }}" id="icon" alt="User Icon" style="height:64px; width:64px;"/>
      </div>
  
      <!-- Login Form -->
      {{ wtf.quick_form(form) }}      
  
      <!-- Remind Passowrd -->
      <div id="formFooter">
        <span>New user? <a href="{{ url_for('signup') }}">Signup</a></span>
      </div>
  
    </div>
</div>
{% endblock %}
